<!doctype html>
<html ng-app="app">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-aria.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <link rel="stylesheet" href="/node_modules/angular-ui-grid/ui-grid.min.css" type="text/css">
    

    <style>
    .grid {
    width: 900px;
    height: 450px;
    }
    </style>
</head>

<body>
    <div ng-controller="MainCtrl">
        <input ng-model='filterValue' /><button ng-click='filter()'>Filter</button>
        <div id="grid1" ui-grid="gridOptions" class="grid"></div>
    </div>
    <script src="node_modules/angular-ui-grid/ui-grid.core.js"></script>

<script src="scripts/appscipt.js"></script>
</body>

</html>